<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Teach Me How to Google</title>
	<meta charset="utf-8">
	<meta name="keywords" content="teach,me,how,google,search,training,education">
    <meta name="description" content="Teach me how to Google provides a fun, interactive game to improve Google search skills">	

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<%= render "layouts/footer" %>
</html>
